<!DOCTYPE html>
<!-- 

Following line attempts to fix Apollo Client Devtools breaking importmaps, but doesn't work properly.

See:

- https://github.com/WICG/import-maps/issues/248#issuecomment-1047373384
- https://github.com/guybedford/es-module-shims

-->
<script async src="https://ga.jspm.io/npm:es-module-shims@1.4.6/dist/es-module-shims.js"></script>
<html>
  <head>
    <title>RailsImportmapExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
